* {
  margin:0;
  padding:0;
}

li {
  list-style:none;
}

img {
  vertical-align:top;
  border:none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd,
ul, ol, li, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

ul, ol { list-style: none; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

q:before, q:after { content: ''; }

body {
  font-size: 1.4rem;
}

html {
  scroll-behavior: smooth;
}

.background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
}

.search, .current-city, .weather-detail, .forecast-info {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.search .search-header, .current-city .city-name, .weather-detail .title, .forecast-info .title {
  font-family: 'Lobster', cursive;
  font-size: 10rem;
  color: white;
  text-shadow: 5px 5px 15px black;
  text-align: center;
}

.search span {
  font-size: 5rem;
}

.search button {
  margin-top: 1rem;
}
.search .search-header span {
  display: block;
  text-align: left;
  font-size: 15rem;
}

.search .text-input {
  color: black;
  font-size: 2rem;
  width: 50vw;
  padding: 0 5px;
}

.current-city .show-temp {
  font-size: 7rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.current-city label {
  padding: 1rem;
}
.current-city img {
  display: block;
  margin: 0 auto;
}

.weather-detail .title {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.weather-detail p {
  font-size: 2rem;
  text-shadow: 2px 2px 5px black;
}

.should-wear {
  font-size: 3rem;
}

.forecast-info .title {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.owf {
  font-size: 5rem;
  text-shadow: 2px 2px 5px black;
}

.weather-icon {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .search .search-header span {
    text-align: center;
  }
  .forecast-info .title {
    margin-bottom: 1rem;
  }
}
